[submodule "jpgjs"]
	path = jpgjs
	url = https://github.com/notmasteryet/jpgjs.git
[submodule "png.js"]
	path = png.js
	url = https://github.com/devongovett/png.js.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "getUserMedia.js"]
	path = getUserMedia.js
	url = https://github.com/addyosmani/getUserMedia.js.git
