doctype html
html
  head
    title=title
    meta(name="description", content="Public Lab's online, open source service for generating plant health analyses from near-infrared imagery.")

    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css")
    link(rel="stylesheet" href="/bootstrap/css/slider.css")
    link(rel="stylesheet" href="/assets/css/application.css")
    link(rel="stylesheet" href="/infragram.css")

    script(src="/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/getUserMedia.js/lib/getUserMedia.js")
    script(src="/bootstrap/js/bootstrap-slider.js")
    script(src="/socket.io/socket.io.js")
    script(src="/webgl-utils.js")
    script(src="/infragram.js?hash=6e7ab7cd6319cc33bd23ffec08ee4532a84a0e51")

    script#shader-vs(type="x-shader/x-vertex")
    script#shader-fs-template(type="x-shader/x-fragment")
    script#shader-fs(type="x-shader/x-fragment")

  body
    div.container.page

      div#delete-modal(class="modal hide fade")
        div(class="modal-body")
          h3 Delete image
          form#delete-form(class="form" action="/" method="get")
            input#pwd(type="password" name="pwd" placeholder="Password")
            br
            input(type="submit" value="Delete" class="btn btn-primary")

      h1.span12
        img(src="/images/infragram-logo.png" style="float:left;margin-right:14px;width:50px;padding-bottom:10px;")
        div(style="margin-top:10px;")
          a(style="color:#444;padding-top:12px;" href="/") Infragram
          small
            br.visible-phone
            span(style="font-size:70%;padding-left:4px;") by
            a(href="http://publiclab.org")  Public Lab

      block content

      footer.footer
        hr
        h4
          <a style="color:#444;" href="http://publiclab.org/wiki/infragram">Infragram</a> <small>by <a href="http://publiclab.org">Public Lab</a> | This web app is <a href="https://github.com/pibliclabs/infragram-js/">open source software</a>; <a href="https://github.com/publiclabs/infragram-js/issues">please report bugs</a></small></h4>
          p: small Infragram was created by <a href="https://github.com/bgamari">Ben Gamari</a>, <a href="http://github.com/donblair">Don Blair</a>, <a href="http://publiclab.org/profile/warren">Jeff Warren</a> and <a href="http://github.com/pfoltyn">Piotr Foltyn</a>.

    script
      | (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
  
      | ga("create", "UA-43030180-1", "infragram.org");
      | ga("send", "pageview");

