extends layout
block content

  div.navbar.clearfix
    div.navbar-inner
      ul.nav
        li
          a(href="/sandbox/?src="+image.src)
            i.icon.icon-pencil
            |  Open in Infragram Sandbox &raquo;

  div
    img(src=image.src)
    div.body= image.desc
    div.meta
        span.author= "by "+(image.author || "anon")
        span.updated_at= " on "+image.updated_at
